body
{
background-color:#ffffff;
font-family:"Helvetica-Light";
font-size:14px;
width:520px
}
h1
{
color:DeepSkyBlue;
/* text-align:left; */
font-weight:normal;
font-size:36px;
}
h2
{
color:DeepSkyBlue;
/* text-align:left; */
font-weight:bold;
font-size:14px;
}
p
{
font-size:14px;
}
table
{
font-size:14px;
}
a:link {text-decoration:none; color:LightSkyBlue;}
a:visited {text-decoration:none; color:LightSkyBlue;}
a:hover {text-decoration:none; color:PowderBlue}
a:active {text-decoration:none; color:PowderBlue}
